.column li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

.column h2{
    text-align: center;
}

.container{ 
    margin: 3rem auto;
    max-width: 900px
}

.post-list button {
    margin-bottom: 25px;
}

.column li a{
    text-shadow: unset;
    color: white ;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-list {
    opacity: 0;
    position: absolute;
    background-color: rgb(131, 131, 132);
    min-width: 160px;
    padding: 23px 16px 0px 16px;
    z-index: 1;
    top: 8px;
    left: -46px;
    height: 150px;
  }


  .dropdown:hover .dropdown-list {
    opacity: 1;
  }
  .dropdown-cont{
      min-height: 70px;
  }
  .dropdown-ul{
    padding-top: 21px;
  }
  a{
      background-image: none;
  }